*{
    margin: 0;
    padding: 0;
}
.arregloImg{
    width: 100px;
    height: 300px;
}
.card-style{
    height: 550px;
}

.section-banner{
    background-image: url(/Imagenes/banner-About-us.jpg);
    height: 250px;
    width: 100%;
    background-size: cover;
    
}

.iconos {
    color: #172058;
}

.iconos:hover{
    transform: scale(1.5);
    color:#020AA6 ;
}
.color-caracteristica{
    color: #27C27A ;
}
