
*{
    margin: 0;
    padding: 0;

}

body{
    background-color: #d2dfdf;
}
  
/* COMIENZO ESTILOS ABOUT US -------------- */
.bg-general{
    background-color: #d2dfdf;
}
.arregloImg{
    width: 100px;
    height: 300px;
    object-fit: cover;

}
.card-style {
  height: 550px;
}

.section-banner {
  background-image: url(/Imagenes/banner-About-us.jpg);
  height: 250px;
  width: 100%;
  background-size: cover;
}
.bg-aboutUs{
    background-color:  #172058;  
}

.iconos {
  color: #172058;
}

.iconos:hover {
  transform: scale(1.5);
  color: #020aa6;
}

.color-caracteristica{
    color: #27C27A ;
}

#navbarSupportedContent {
  position: relative;
}
#divShowbtnNavbar,
#divShowbtnNavbarAdmin,
#divShowbtnNavbarAbout {
  position: absolute;
  margin: auto;
  right: 50px;
}

#dropdownMenuButton1 {
  border-color: #e6e6e6;
  border-style: solid;
  border-width: 2px;
  border-radius: 60px;
}

.icon-logo {
  position: relative;
  width: 90px;
  height: 90px;
  margin-left: 40px;
}

/* FIN ESTILOS ABOUT US -------------- */

.navbar {
  background-color: #212529;
}
.navbar-toggler {
  width: 40px;
  height: 10px;
  position: relative;
  transition: 0.5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}

.navbar-toggler span {
  margin: 0;
  padding: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #d3531a;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.middle-bar {
  margin-top: 0px;
}

/* cuando se hace clic en toggler */

.navbar-toggler .top-bar {
  margin-top: 0px;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  margin-top: 0px;
  transform: rotate(-135deg);
}

/* Estado cuando la barra de navegación está colapsada */

.navbar-toggler.collapsed .top-bar {
  margin-top: -15px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  margin-top: 15px;
  transform: rotate(0deg);
}

/* Color de las 3 lineas */

.navbar-toggler.collapsed .toggler-icon {
  background: rgb(251, 251, 251);
}

@media screen and (max-width: 500px) {
  #divShowbtnNavbar,
  #divShowbtnNavbarAdmin,
  #divShowbtnNavbarAbout {
    position: relative;
    margin: auto;
    right: 7px;
    float: right;
  }
}

/* Tamaño y tipo de letra en slider*/
.tituloSlider {
    font-size: 40px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
ul{
    font-family: Georgia, 'Times New Roman', Times, serif;
}


h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* CONTACTO */
#email{
    opacity: 0;
}
#contactus {
    background: url(./Imagenes/Contact\ us.jpg);
	background-attachment: fixed;
	background-size:cover;
	margin: 0;
}

/*SECCION SOBRE NOSOTROS*/
sectionNosotros {
  padding-top: 30%;
}

.title-nosotros {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 50px;
  color: rgb(4, 38, 64);
}

.text-nosotros{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

@media (max-width: 768px){
  .title-nosotros{
      font-size: 2rem;
      margin-top: 5rem;
      padding: 2rem;
  }
  .text-nosotros{
      font-size: 1rem;
      margin: 2rem;
  }
}

.imagenSN {
  margin: 5px;
  width: 150px;
}

/* CLASES PARA LAS CARDS DE LOS PRODUCTOS*/

.card {
  height: 540px;
}

.card-text {
  height: 168px;
}

.div-img-card{
  width: 100%;
  height: 250px;
}
.img-card-producto{
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

/*  DESPLEGABLE NAVBAR */
