*{
    margin: 0;
    padding: 0;

}
/* COMIENZO ESTILOS ABOUT US -------------- */
.bg-general{
    background-color: #d2dfdf;
}
.arregloImg{
    width: 100px;
    height: 300px;
    object-fit: cover;
}
.card-style{
    height: 550px;
}

.section-banner{
    background-image: url(/Imagenes/banner-About-us.jpg);
    height: 250px;
    width: 100%;
    background-size: cover;
    
}
.bg-aboutUs{
    background-color:  #172058;  
}

.iconos {
    color: #172058;
}

.iconos:hover{
    transform: scale(1.5);
    color:#020AA6 ;
}
.color-caracteristica{
    color: #27C27A ;

}

/* FIN ESTILOS ABOUT US -------------- */

.navbar-toggler {
    width: 40px;
    height: 10px;
    position: relative;
    transition: .5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
}

.navbar-toggler span {
    margin: 0;
    padding: 0;
}

.toggler-icon {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #d3531a;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.middle-bar {
    margin-top: 0px;
}

/* cuando se hace clic en toggler */

.navbar-toggler .top-bar {
    margin-top: 0px;
    transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    margin-top: 0px;
    transform: rotate(-135deg);
}

/* Estado cuando la barra de navegación está colapsada */

.navbar-toggler.collapsed .top-bar {
    margin-top: -15px;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    margin-top: 15px;
    transform: rotate(0deg);
}

/* Color de las 3 lineas */

.navbar-toggler.collapsed .toggler-icon {
    background:  rgb(4, 38, 64);
}
