
.th_img{
    width: 150px;
    height: 150px;
}

.img_producto{
    object-fit: cover !important;

body{
    box-sizing: border-box;
    max-width: 100%;
}

.contenedor-imagen{
    width:  150px;
    height: 150px;
}
.imagen-producto{
    object-fit: cover;

}